---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Deenullah - The Way of Life</title>
		<script>
			/*to prevent Firefox FOUC, this must be here*/
			let FF_FOUC_FIX;
		</script>
	</head>
	<body>
		<div class="header-bar2 p-1 deenullah-color text-center text-base">بسم الله الرحمن الرحيم</div>
		<div class="header-bar text-center">
			<h1 class="text-3xl deenullah-regular deenullah-color p-2 pt-3 ml-2">DEENULLAH</h1><p class="text-base deenullah-italic deenullah-color mt-[-8px] pb-2">The Way of Life</p>
		</div>
		<div class="header-bar2 p-1 deenullah-color text-xs p-1 text-center" id="data-container">
		</div>
		<slot />
	</body>
</html>

<script>
	const dataContainer = document.getElementById('data-container');
	const date = new Date();
	let day = date.getDate() - 1;
	let month = date.getMonth() + 1;
	let year = date.getFullYear();
	let currentDate = `${day}-${month}-${year}`;
	const getUrl = 'https://api.aladhan.com/v1/gToH/' + currentDate + '?'; 
	const apiUrl = getUrl; 
	async function fetchDataAndDisplay() {
        try {
            const response = await fetch(apiUrl);
            const data = await response.json(); // Assuming the API returns JSON

            // Clear previous content (optional)
            dataContainer.innerHTML = ''; 

			const postElement = document.createElement('div');
                postElement.innerHTML = `
                    ${data.data.hijri.day} ${data.data.hijri.month.en} ${data.data.hijri.year}
                `;
                dataContainer.appendChild(postElement);

            // Iterate through the data and create HTML elements


        } catch (error) {
            console.error('Error fetching or displaying data:', error);
            dataContainer.innerHTML = '<p>Failed to load data.</p>';
        }
    }
	fetchDataAndDisplay();
</script>

<style>
	@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #e8d1c5;
    font-family: "Roboto", sans-serif;
	}
</style>